<h1>Editing timesheet</h1>

<%= render 'form' %>

<%= link_to 'Add sheetfile', new_sheetfile_path(:my_sheetfile => { :timesheet_id => @timesheet.id }) %>

<%= link_to 'Show', @timesheet %> |
<%= link_to 'Back', timesheets_path %>
