<h1>Editing sheetfile</h1>

<%= render 'form' %>

<%= link_to 'Add activity', new_activity_path(:my_activity => { :sheetfile_id => @sheetfile.id }) %>


<%= link_to 'Show', @sheetfile %> |
<%= link_to 'Back', sheetfiles_path(:my_sheetfile => { :timesheet_id => @sheetfile.timesheet_id }) %>

