<div class="content">
	<blockquote>
		<p>Report listing employees for <strong><%=@dept_name.take.dept_name%></strong> </p>
	</blockquote>

	<div class="table-responsive">
		<table class="table table-striped table-bordered table-hover table-condensed">
			<thead>
				<tr>
          <th> Employee name </th>
				</tr>
			</thead>

			<tbody>
         <% @users.each do |userr| %>
           <tr>
             <td><%= userr.uf %></td>
           </tr>
         <% end %>
			</tbody>
		</table>
	</div>
</div>
