<div class="content">
	<%= form_tag(activities_dirresults_users, method: "get", role: "form",class: "content-center" ) do %>
		<blockquote>
			<p>New reports</p>
		</blockquote>

	  <%= submit_tag "Generate", :class => "btn btn-success" %>
	<% end %>
</div>
