<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Hello, <%= @user.user_fullname%>, </h1>
    <h2>This is a test e-mail </h2>

    <p>All the best!</p>
  </body>
</html>
