<div class="content">
	<%= form_tag(activities_divresults_users_path, method: "get", role: "form",class: "content-center" ) do %>
		<blockquote>
			<p>New reports</p>
		</blockquote>

		<div class="form-group">
			<%= label_tag(:dept_name, "Department name:") %>
			<%= text_field_tag(:dept_name, nil, :class => 'form-control') %>
		</div>
		
	  <%= submit_tag "Generate", :class => "btn btn-success" %>
	<% end %>
</div>
