<div class="content">
	<%= form_tag(activities_divresults_users_path, method: "get", role: "form",class: "content-center" ) do %>
		<blockquote>
			<p>New reports</p>
		</blockquote>

		<div class="form-group">
			<%= label_tag(:dept_name, "Department name:") %>
      <%= grouped_collection_select(:user, :department_id, Division.all, :departments, :div_name, :id, :dept_name, {}, {:class=>'form-control'}) %>
    </div>

		</div>
		
	  <%= submit_tag "Generate", :class => "btn btn-success" %>
	<% end %>
</div>
