<div class="content">
	<blockquote>
		<p>Report listing</p>
	</blockquote>

	<div class="table-responsive">
		<table class="table table-striped table-bordered table-hover table-condensed">
			<thead>
				<tr>
					<td>Project name</td>
					<td>Hours worked</td>
				</tr>
			</thead>
	
			<tbody>
				<% 
					users_array = []
				%>
				<% @user_activities.each do |project| %>
					<tr>
						<td><%= project.project_name %></td>
						<% users_array.push(project.project_name) %>
						
						<td><%= project.hoursw %></td>
						<% users_array.push(project.hoursw) %>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	
	<%= link_to(raw(("<i class='fa fa-download pr10'></i>") + "Download PDF"), {:controller => "activities", :action => "pdf_dept_periods",:par => users_array}, {:class => 'btn btn-primary', :method => :get} ) %>

</div>
